<head>
    <style>
        radio {
            display: inline;
            transform: scale(2);
        }
    </style>
</head>
<p><a href="/">Return to HOME screen</a></p>
<!-- forms.html -->
{{if .Success}}
    <h1>Successfully submitted</h1>
{{else}}
    <h1>Create new Non Movement Symptoms record</h1>
    <form method="POST">
        <label>patient_id:</label><br />
        <!-- <input type="text" name="pid"><br /><br /> -->
        <select name="pid">
            {{range .Pids}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select><br /><br />
        <label>assessment_number:</label><br />
        <input type="text" name="assessment_number"><br /><br />
        <label>assessment_date:</label><br />
        <input type="date" name="assessment_date"><br /><br />
        <span>
            <p>1 - Dribbling during the daytime</p>
            <input type="radio" id="t1" name="nms1" value="true">
            <label for="true">true</label>
            <input type="radio" id="f1" name="nms1" value="false">
            <label for="false">false</label><br>
        </span><br /><br />

        <span>
            <p>2 - Loss or change in taste or smell</p>
            <input type="radio" id="t2" name="nms2" value="true">
            <label for="true">true</label>
            <input type="radio" id="f2" name="nms2" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>3 - Difficulty swallowing</p>
            <input type="radio" id="t3" name="nms3" value="true">
            <label for="true">true</label>
            <input type="radio" id="f3" name="nms3" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>4 - Vomiting or sickness</p>
            <input type="radio" id="t4" name="nms4" value="true">
            <label for="true">true</label>
            <input type="radio" id="f4" name="nms4" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>5 - Constipation</p>
            <input type="radio" id="t5" name="nms5" value="true">
            <label for="true">true</label>
            <input type="radio" id="f5" name="nms5" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>6 - Bowel incontinence</p>
            <input type="radio" id="t6" name="nms6" value="true">
            <label for="true">true</label>
            <input type="radio" id="f6" name="nms6" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>7 - Feeling your bowel emptying is incomplete</p>
            <input type="radio" id="t7" name="nms7" value="true">
            <label for="true">true</label>
            <input type="radio" id="f7" name="nms7" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>8 - A sense of urgency to pass urine</p>
            <input type="radio" id="t8" name="nms8" value="true">
            <label for="true">true</label>
            <input type="radio" id="f8" name="nms8" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>9 - Getting up regularly at night</p>
            <input type="radio" id="t9" name="nms9" value="true">
            <label for="true">true</label>
            <input type="radio" id="f9" name="nms9" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>10 - Unexplained pains</p>
            <input type="radio" id="t10" name="nms10" value="true">
            <label for="true">true</label>
            <input type="radio" id="f10" name="nms10" value="false">
            <label for="false">false</label><br>
        </span><br /><br />
        <span>
            <p>11 - Unexplained change in weight</p>
            <input type="radio" id="t11" name="nms11" value="true">
            <label for="true">true</label>
            <input type="radio" id="f11" name="nms11" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>12 - Problem remembering things..</p>
            <input type="radio" id="t12" name="nms12" value="true">
            <label for="true">true</label>
            <input type="radio" id="f12" name="nms12" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>13 - Loss of interest ...</p>
            <input type="radio" id="t13" name="nms13" value="true">
            <label for="true">true</label>
            <input type="radio" id="f13" name="nms13" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>14 - Seeing or hearing things that you are know/told are not there</p>
            <input type="radio" id="t14" name="nms14" value="true">
            <label for="true">true</label>
            <input type="radio" id="f14" name="nms14" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>15 - Difficulty concentrating</p>
            <input type="radio" id="t15" name="nms15" value="true">
            <label for="true">true</label>
            <input type="radio" id="f15" name="nms15" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>16 - Feeling sad/blue</p>
            <input type="radio" id="t16" name="nms16" value="true">
            <label for="true">true</label>
            <input type="radio" id="f16" name="nms16" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>17 - Feeling anxious or panicky</p>
            <input type="radio" id="t17" name="nms17" value="true">
            <label for="true">true</label>
            <input type="radio" id="f17" name="nms17" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>18 - Feeling less interested in sex</p>
            <input type="radio" id="t18" name="nms18" value="true">
            <label for="true">true</label>
            <input type="radio" id="f18" name="nms18" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>19 - Finding it difficult to have sex</p>
            <input type="radio" id="t19" name="nms19" value="true">
            <label for="true">true</label>
            <input type="radio" id="f19" name="nms19" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>20 - Feeling light headed, dizzy or weak</p>
            <input type="radio" id="t20" name="nms20" value="true">
            <label for="true">true</label>
            <input type="radio" id="f20" name="nms20" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>21 - Falling</p>
            <input type="radio" id="t21" name="nms21" value="true">
            <label for="true">true</label>
            <input type="radio" id="f21" name="nms21" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>22 - Finding it difficult to stay awake during activities</p>
            <input type="radio" id="t22" name="nms22" value="true">
            <label for="true">true</label>
            <input type="radio" id="f22" name="nms22" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>23 - Difficulty going to sleep</p>
            <input type="radio" id="t23" name="nms23" value="true">
            <label for="true">true</label>
            <input type="radio" id="f23" name="nms23" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>24 - Intense vivid dreams</p>
            <input type="radio" id="t24" name="nms24" value="true">
            <label for="true">true</label>
            <input type="radio" id="f24" name="nms24" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>25 - Talking or moving about in your sleep</p>
            <input type="radio" id="t25" name="nms25" value="true">
            <label for="true">true</label>
            <input type="radio" id="f25" name="nms25" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>26 - Unpleasant sensations in your legs</p>
            <input type="radio" id="t26" name="nms26" value="true">
            <label for="true">true</label>
            <input type="radio" id="f26" name="nms26" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>27 - Swelling of your legs</p>
            <input type="radio" id="t27" name="nms27" value="true">
            <label for="true">true</label>
            <input type="radio" id="f27" name="nms27" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>28 - Excessive sweating</p>
            <input type="radio" id="t28" name="nms28" value="true">
            <label for="true">true</label>
            <input type="radio" id="f28" name="nms28" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>29 - Double vision</p>
            <input type="radio" id="t29" name="nms29" value="true">
            <label for="true">true</label>
            <input type="radio" id="f29" name="nms29" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>30 - Believing things are happening to you that other people say aren' true</p>
            <input type="radio" id="t30" name="nms30" value="true">
            <label for="true">true</label>
            <input type="radio" id="f30" name="nms30" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            <span>
            <p>31 - Increase in thoughts... more medicine than prescribed</p>
            <input type="radio" id="t31" name="nms31" value="true">
            <label for="true">true</label>
            <input type="radio" id="f31" name="nms31" value="false">
            <label for="false">false</label><br>
            </span><br /><br />
            
            
            
            
            
            
            
            
            

        <input type="submit">
    </form>
{{end}}