<head>
    <style>
        radio {
            display: inline;
            transform: scale(2);
        }
    </style>
</head>
<p><a href="/">Return to HOME screen</a></p>
<!-- forms.html -->
{{if .Success}}
    <h1>Successfully submitted</h1>
{{else}}
    <h1>Create new Non Movement Symptoms record</h1>
    <form method="POST">
        <label>patient_id:</label><br />
        <!-- <input type="text" name="pid"><br /><br /> -->
        <select name="pid">
            {{range .Pids}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select><br /><br />
        <label>assessment_number:</label><br />
        <input type="text" name="assessment_number"><br /><br />
        <label>assessment_date:</label><br />
        <input type="date" name="assessment_date"><br /><br />
        <span>
            <p>1 - Dribbling during the daytime</p>
            <select name="nms1">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />

        <span>
            <p>2 - Loss or change in taste or smell</p>
            <select name="nms2">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>3 - Difficulty swallowing</p>
            <select name="nms3">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>4 - Vomiting or sickness</p>
            <select name="nms4">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>5 - Constipation</p>
            <select name="nms5">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>6 - Bowel incontinence</p>
            <select name="nms6">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>7 - Feeling your bowel emptying is incomplete</p>
            <select name="nms7">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>8 - A sense of urgency to pass urine</p>
            <select name="nms8">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>9 - Getting up regularly at night</p>
            <select name="nms9">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>10 - Unexplained pains</p>
            <select name="nms10">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>11 - Unexplained change in weight</p>
            <select name="nms11">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>            
        <span>
            <p>12 - Problem remembering things..</p>
            <select name="nms12">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>13 - Loss of interest ...</p>
            <select name="nms13">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>14 - Seeing or hearing things that you are know/told are not there</p>
            <select name="nms14">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>15 - Difficulty concentrating</p>
            <select name="nms15">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>16 - Feeling sad/blue</p>
            <select name="nms16">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>17 - Feeling anxious or panicky</p>
            <select name="nms17">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>18 - Feeling less interested in sex</p>
            <select name="nms18">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>19 - Finding it difficult to have sex</p>
            <select name="nms19">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>20 - Feeling light headed, dizzy or weak</p>
            <select name="nms20">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>21 - Falling</p>
            <select name="nms21">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>22 - Finding it difficult to stay awake during activities</p>
            <select name="nms22">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>23 - Difficulty going to sleep</p>
            <select name="nms23">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>24 - Intense vivid dreams</p>
            <select name="nms24">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>25 - Talking or moving about in your sleep</p>
            <select name="nms25">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>26 - Unpleasant sensations in your legs</p>
            <select name="nms26">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>27 - Swelling of your legs</p>
            <select name="nms27">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>28 - Excessive sweating</p>
            <select name="nms28">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>29 - Double vision</p>
            <select name="nms29">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>30 - Believing things are happening to you that other people say aren' true</p>
            <select name="nms30">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
        <span>
            <p>31 - Increase in thoughts... more medicine than prescribed</p>
            <select name="nms31">
                <option value="NO VALUE">- No response</option>
                <option value="false">1: True</option>
                <option value="true">2: False</option>
            </select>
        </span><br /><br />
            
        <input type="submit">
    </form>
{{end}}