<head>
    <style>
        radio {
            display: inline;
            transform: scale(2);
        }
    </style>
</head>
<p><a href="/">Return to HOME screen</a></p>
<!-- forms.html -->
{{if .Success}}
    <h1>Successfully submitted</h1>
{{else}}
    <h1>Create new PDQ-39 record</h1>
    <form method="POST">
        <label>patient_id:</label><br />
        <!-- <input type="text" name="pid"><br /><br /> -->
        <select name="pid">
            {{range .Pids}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select><br /><br />
        <label>assessment_number:</label><br />
        <input type="text" name="assessment_number"><br /><br />
        <label>assessment_date:</label><br />
        <input type="date" name="assessment_date"><br /><br /> 
        <span>
            <p>1 - Had difficuly doing leisure activities?</p>
            <select name="1">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>2 - Had difficulty looking after your home?</p>
            <select name="2">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>3 - Had difficulty carrying bags of shopping?</p>
            <select name="3">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>4 - Had problems walking half a mile?</p>
            <select name="4">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>5 - Had problems walking 100 yards?</p>
            <select name="5">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>6 - Had problems getting around the house?</p>
            <select name="6">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>7 - Had difficulty getting around in public?</p>
            <select name="7">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>8 - Needed someone else to accompany you when you went out?</p>
            <select name="8">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>9 - Frightened about falling over in public?</p>
            <select name="9">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>10 - Been confined to the house more than you would like?</p>
            <select name="10">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>11 - Had difficulty washing yourself?</p>
            <select name="11">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>12 - Had difficulty dressing yourself?</p>
            <select name="12">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>13 - Had problems doing up buttons or shoelaces?</p>
            <select name="13">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>14 - Had problems writing clearly?</p>
            <select name="14">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>15 - Had difficulty cutting up your food?</p>
            <select name="15">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>16 - Had difficulty holding a drink without spilling it?</p>
            <select name="16">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>17 - Felt depressed?</p>
            <select name="17">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>18 - Felt isolated and lonely?</p>
            <select name="18">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>19 - Felt weepy or tearful?</p>
            <select name="19">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>20 - Felt angry or bitter?</p>
            <select name="20">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>21 - Felt anxious?</p>
            <select name="21">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>22 - Felt worried about your future?</p>
            <select name="22">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>23 - Felt you had to conceal your Parkinsons?</p>
            <select name="23">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>24 - Avoided eating or drinking in public?</p>
            <select name="24">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>25 - Felt embarrassed in public due to Parkinsons?</p>
            <select name="25">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>26 - Felt worried by other peoples reactions?</p>
            <select name="26">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>27 - Had problems with your close personal relationships?</p>
            <select name="27">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>28 - Lacked support from your partner?</p>
            <select name="28">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>29 - Lacked support from your family or friends?</p>
            <select name="29">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>30 - Unexpectedly fallen asleep during the day?</p>
            <select name="30">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>31 - Had problems with your concentration?</p>
            <select name="31">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>32 - Felt your memory was bad?</p>
            <select name="32">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>33 - Had distressing dreams or hallucinations?</p>
            <select name="33">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>34 - Had difficulty with your speech?</p>
            <select name="34">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>35 - Felt unable to communicate with people?</p>
            <select name="35">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>36 - Felt ignored by people?</p>
            <select name="36">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>37 - Had painful muscle cramps or spasms?</p>
            <select name="37">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>38 - Had aches or pains?</p>
            <select name="38">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />
            
            <span>
            <p>39 - Felt unpleasantly hot or cold?</p>
            <select name="39">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Ocasionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always or Cannot do at all</option>
            </select>
            </span><br /><br />

        <input type="submit">
    </form>
{{end}}