<head>
    <style>
        radio {
            display: inline;
            transform: scale(2);
        }
    </style>
</head>
<p><a href="/">Return to HOME screen</a></p>
<!-- forms.html -->
{{if .Success}}
    <h1>Successfully submitted</h1>
{{else}}
    <h1>Create new Parkinsons Disease Carer Questionnaire record</h1>
    <form method="POST">
        <label>carer_id:</label><br />        
        <select name="cid">
            {{range .Cids}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select><br /><br />
        <label>assessment_number:</label><br />
        <input type="text" name="assessment_number"><br /><br />
        <label>assessment_date:</label><br />
        <input type="date" name="assessment_date"><br /><br />        
        <span>
            <p>1 - Could not sleep through the night?</p>
            <select name="1">
            <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>2 - Found it difficult to get out and do the shopping?</p>
            <select name="2">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>3 - Found the demands of caring physically difficult?</p>
            <select name="3">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>4 - Felt anxious because of the responsibility of caring?</p>
            <select name="4">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>5 - Been prevented from pursuing hobbies?</p>
            <select name="5">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>6 - Felt worried about your own physical health?</p>
            <select name="6">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>7 - Thought your caring role was taken for granted by others?</p>
            <select name="7">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>8 - Felt that the relationship with friends have been affected?</p>
            <select name="8">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>9 - Felt impatient with the person you care for?</p>
            <select name="9">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>10 - Felt exhausted?</p>
            <select name="10">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>11 - Felt worried about the future?</p>
            <select name="11">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>12 - Felt you lacked energy and motivation?</p>
            <select name="12">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>13 - Taken less care with your diet?</p>
            <select name="13">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>14 - Felt more withdrawn because of your caring role?</p>
            <select name="14">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>15 - Felt depressed?</p>
            <select name="15">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>16 - Felt less in control of your temper?</p>
            <select name="16">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>17 - Felt worried about what would happen if you were unwell?</p>
            <select name="17">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>18 - Been limited in what you can do socially?</p>
            <select name="18">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>19 - Felt that your workload aroud the house has increased significantly?</p>
            <select name="19">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>20 - Found it difficult to see friends and family?</p>
            <select name="20">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>21 - Found it difficult to leave the person you care for alone for more than one hour?</p>
            <select name="21">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>22 - Felt that your physical heealth has been affected by your caring role?</p>
            <select name="22">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>23 - Felt that you are responsible for everything at home?</p>
            <select name="23">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>24 - Felt that you cannot do things on the spur of the moment?</p>
            <select name="24">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>25 - Found it difficult to be involved with activities that require sommitment?</p>
            <select name="25">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>26 - Paid less attention to your own health?</p>
            <select name="26">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>27 - Felt unable to go on holiday or go on breaks?</p>
            <select name="27">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>28 - Felt responsible for medication being available/taken at appropriate times?</p>
            <select name="28">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            <span>
            <p>29 - Had to limit outings?</p>
            <select name="29">
                <option value="NO VALUE">- No response</option>
            <option value="0">0: Never</option>
            <option value="1">1: Occassionally</option>
            <option value="2">2: Sometimes</option>
            <option value="3">3: Often</option>
            <option value="4">4: Always</option>
            </select>
            </span><br /><br /> 
            
        


        <input type="submit">
    </form>
{{end}}